{% load static %}
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark-style.css' %}">

    <title>Rihanna Young | Basketball Player</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>

<body data-bs-spy="scroll" data-bs-offset="120">

    <!-- Start Navbar Area -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#home">
                <img src="{% static 'img/logo.png' %}" alt="image">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#highlight">Highlight</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About Me</a></li>
                    <li class="nav-item"><a class="nav-link" href="#training">Training</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#playlists">Playlists</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" href="#channels">Channels</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="#blog">Snap Shots</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="dark-version-btn">
                <label id="switch" class="switch">
                    <input type="checkbox" onchange="toggleTheme()" id="slider">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </nav>
    <!-- End Navbar Area -->

    <!-- Start Search Overlay -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="submit"><i class='flaticon-search'></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search Overlay -->

    <!-- Start Main Banner Area -->
    <div id="home" class="main-banner" style=" background-image: url({{ about.main_banner.url }});">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <h1><span>Hi, I'M</span> Rihanna Young</h1>
                        <p>A basketball player is an athlete who plays the sport of basketball. Basketball players can
                            play a variety of positions, such as point guard, shooting guard, small forward, power
                            forward, or center.</p>
                            <div class="btn-box">
                            {% if about.social_youtube %}
                            <a href="{{ about.social_youtube }}" target="_blank" class="default-btn">Youtube Channel</a>
                            {% endif %}
                            <ul>
                                {% if about.social_facebook %}<li><a href="{{ about.social_facebook }}" class="facebook" target="_blank"><i
                                            class="flaticon-facebook"></i></a></li>{% endif %}
                                {% if about.social_twitter %}<li><a href="{{ about.social_twitter }}" class="twitter" target="_blank"><i
                                            class="flaticon-twitter"></i></a></li>{% endif %}
                                {% if about.social_instagram %}<li><a href="{{ about.social_instagram }}" class="instagram" target="_blank"><i
                                            class="flaticon-instagram"></i></a></li>{% endif %}
                                {% if about.social_pinterest %}<li><a href="{{ about.social_pinterest }}" class="pinterest" target="_blank"><i
                                            class="flaticon-pinterest"></i></a></li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape1"><img src="{% static 'img/shape1.png' %}" alt="image"></div>
        <div class="shape2"><img src="{% static 'img/shape2.png' %}" alt="image"></div>
        <div class="shape3"><img src="{% static 'img/shape3.png' %}" alt="image"></div>
        <div class="shape4"><img src="{% static 'img/shape4.png' %}" alt="image"></div>
        <div class="shape5"><img src="{% static 'img/shape5.png' %}" alt="image"></div>
        <div class="shape6"><img src="{% static 'img/shape6.png' %}" alt="image"></div>
        <div class="shape7"><img src="{% static 'img/shape7.png' %}" alt="image"></div>
        <div class="shape8"><img src="{% static 'img/shape8.png' %}" alt="image"></div>
    </div>
    <!-- End Main Banner Area -->

    <!-- Start Featured Videos Area -->
    <section id="highlight" class="featured-videos-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>My Highlight Videos</h2>
                <a href="{% url 'allFeaturedVideos' %}" class="link-btn">See All</a>
            </div>

            <div class="row">

                {% for post in featured_videos %}
                {% if post.status == 'F' %}
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-featured-videos-box">
                        <div class="videos-image">
                            {% if post.thumbnail %}
                            {% endif %}
                            <img src="{{post.thumbnail.url}}" alt="image">
                            <span class="duration">{{ post.duration }}</span>
                            <span class="icon"><i class="flaticon-video-camera"></i></span>
                            <a href="{{ post.video_link }}" class="link-btn popup-youtube"></a>
                        </div>
                        <div class="videos-content">
                            <h3><a href="{{ post.video_link }}" class="popup-youtube">
                                    {{post.title}}
                                </a></h3>
                            <ul class="videos-meta">
                                <li>{{ post.created|date:"F j, Y" }}</li>
                                <li>{{ post.created|time:"g:i A" }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                <h1>NO FEATURED VIDEOS FOUND.</h1>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- End Featured Videos Area -->

    <!-- Start About Area -->
    <section id="about" class="about-area bg-f5eded ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="about-content">
                        <h2>About Me</h2>
                        <h5>
                            {{about.heading}}
                        </h5>
                        <p>
                            {{about.about_desc1}}
                        </p>
                        <img src="{{about.about_image.url}}" alt="image">
                        <p>
                            {{about.about_desc2}}
                        </p>
                        <div class="btn-box">
                            <a href="index.html#" class="default-btn" data-bs-toggle="modal"
                                data-bs-target="#contactModal">Contact Me</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="about-info">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <ul>
                                    <li>
                                        Name:
                                        <span>{{about.name}}</span>
                                    </li>
                                    <li>
                                        Email:
                                        <span>{{about.email}}</span>
                                    </li>
                                    <li>
                                        Role:
                                        <span>{{about.role}}</span>
                                    </li>
                                    <li>
                                        Phone:
                                        <span>{{about.phone}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->

    <!-- Start Popular Videos Area -->
    <section id="training" class="featured-videos-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>My Training Videos</h2>
                <a href="{% url 'allPopularVideos' %}" class="link-btn">See All</a>
            </div>
            {% if popular_videos1 or popular_videos2 or popular_videos3 or popular_videos4 or popular_videos5 %}
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="row">
                        {% if popular_videos1 %}
                        {% for post in popular_videos1 %}
                        {% if post.status == 'P' %}
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="single-featured-videos-box">
                                <div class="videos-image">
                                    <img src="{{ post.thumbnail.url }}" alt="image">
                                    <span class="duration">{{ post.duration }}</span>
                                    <span class="icon"><i class="flaticon-video-camera"></i></span>
                                    <a href="{{ post.video_link }}" class="link-btn popup-youtube"></a>
                                </div>
                                <div class="videos-content">

                                    <h3><a href="{{ post.video_link }}" class="popup-youtube">
                                            {{ post.title }}
                                        </a></h3>
                                    <ul class="videos-meta">
                                        <li>{{ post.created|date:"F j, Y" }}</li>
                                        <li>{{ post.created|time:"g:i A" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {% if popular_videos2 %}
                        {% for post in popular_videos2 %}
                        {% if post.status == 'P' %}
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="single-featured-videos-box">
                                <div class="videos-image">
                                    <img src="{{ post.thumbnail.url }}" alt="image">
                                    <span class="duration">{{ post.duration }}</span>
                                    <span class="icon"><i class="flaticon-video-camera"></i></span>
                                    <a href="{{ post.video_link }}" class="link-btn popup-youtube"></a>
                                </div>
                                <div class="videos-content">
                                    <h3><a href="{{ post.video_link }}" class="popup-youtube">
                                            {{ post.title }}
                                        </a></h3>
                                    <ul class="videos-meta">
                                        <li>{{ post.created|date:"F j, Y" }}</li>
                                        <li>{{ post.created|time:"g:i A" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                {% if popular_videos3 %}
                {% for post in popular_videos3 %}
                {% if post.status == 'P' %}
                <div class="col-lg-6 col-md-12">
                    <div class="single-featured-videos-box">
                        <div class="videos-image">
                            <img src="{{ post.thumbnail.url }}" alt="image">
                            <span class="duration">{{ post.duration }}</span>
                            <span class="icon"><i class="flaticon-video-camera"></i></span>
                            <a href="{{ post.video_link }}" class="link-btn popup-youtube"></a>
                        </div>
                        <div class="videos-content">
                            <h3><a href="{{ post.video_link }}" class="popup-youtube">
                                    {{ post.title }}
                                </a></h3>
                            <ul class="videos-meta">
                                <li>{{ post.created|date:"F j, Y" }}</li>
                                <li>{{ post.created|time:"g:i A" }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}

                <div class="col-lg-3 col-md-12">
                    <div class="row">
                        {% if popular_videos4 %}
                        {% for post in popular_videos4 %}
                        {% if post.status == 'P' %}
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="single-featured-videos-box">
                                <div class="videos-image">
                                    <img src="{{ post.thumbnail.url }}" alt="image">
                                    <span class="duration">{{ post.duration }}</span>
                                    <span class="icon"><i class="flaticon-video-camera"></i></span>
                                    <a href="{{ post.video_link }}" class="link-btn popup-youtube"></a>
                                </div>
                                <div class="videos-content">
                                    <h3><a href="{{ post.video_link }}" class="popup-youtube">
                                            {{ post.title }}
                                        </a></h3>
                                    <ul class="videos-meta">
                                        <li>{{ post.created|date:"F j, Y" }}</li>
                                        <li>{{ post.created|time:"g:i A" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        {% if popular_videos5 %}
                        {% for post in popular_videos5 %}
                        {% if post.status == 'P' %}
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="single-featured-videos-box">
                                <div class="videos-image">
                                    <img src="{{ post.thumbnail.url }}" alt="image">
                                    <span class="duration">{{ post.duration }}</span>
                                    <span class="icon"><i class="flaticon-video-camera"></i></span>
                                    <a href="{{ post.video_link }}" class="link-btn popup-youtube"></a>
                                </div>
                                <div class="videos-content">
                                    <h3><a href="{{ post.video_link }}" class="popup-youtube">
                                            {{ post.title }}
                                        </a></h3>
                                    <ul class="videos-meta">
                                        <li>{{ post.created|date:"F j, Y" }}</li>
                                        <li>{{ post.created|time:"g:i A" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <h1>NO POPULAR VIDEOS FOUND.</h1>
            {% endif %}
        </div>
    </section>
    <!-- End Popular Videos Area -->


    {% comment %}
    <!-- Start Videos Playlists Area -->
    <section id="playlists" class="videos-playlists-area pb-70">
        <div class="container">
            <div class="section-title">
                <h2>My Video Playlists</h2>
                <a href="#" target="_blank" class="link-btn">See All</a>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-playlists-videos-box">
                        <div class="videos-image">
                            <img src="{% static 'img/featured-videos/img1.jpg' %}" alt="image">
                            <span class="duration">15.05</span>
                            <span class="icon"><i class="flaticon-video-camera"></i></span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn"></a>
                            <div class="playlists-icon"><i class="flaticon-playlist"></i><span>12</span></div>
                        </div>
                        <div class="videos-content">
                            <h3>TikTok</h3>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">View Full Playlist</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-playlists-videos-box">
                        <div class="videos-image">
                            <img src="{% static 'img/featured-videos/img2.jpg' %}" alt="image">
                            <span class="duration">20.00</span>
                            <span class="icon"><i class="flaticon-video-camera"></i></span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn"></a>
                            <div class="playlists-icon"><i class="flaticon-playlist"></i><span>10</span></div>
                        </div>
                        <div class="videos-content">
                            <h3>Travelling</h3>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">View Full Playlist</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-playlists-videos-box">
                        <div class="videos-image">
                            <img src="{% static 'img/featured-videos/img3.jpg' %}" alt="image">
                            <span class="duration">11.11</span>
                            <span class="icon"><i class="flaticon-video-camera"></i></span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn"></a>
                            <div class="playlists-icon"><i class="flaticon-playlist"></i><span>15</span></div>
                        </div>
                        <div class="videos-content">
                            <h3>Mobile Review</h3>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">View Full Playlist</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-playlists-videos-box">
                        <div class="videos-image">
                            <img src="{% static 'img/featured-videos/img4.jpg' %}" alt="image">
                            <span class="duration">21.01</span>
                            <span class="icon"><i class="flaticon-video-camera"></i></span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn"></a>
                            <div class="playlists-icon"><i class="flaticon-playlist"></i><span>25</span></div>
                        </div>
                        <div class="videos-content">
                            <h3>Laptop Review</h3>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">View Full Playlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Videos Playlists Area -->
    {% end comment %}


    {% comment %}
    <!-- Start Partners Area -->
    <section class="partners-area bg-f9f9f9 pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>My trusted brand partners</h2>
                <a href="#" target="_blank" class="link-btn">See All</a>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img1.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img2.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img3.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img4.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img5.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img6.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img7.png' %}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-4 col-6">
                    <div class="single-partners-box">
                        <a href="index.html#" target="_blank">
                            <img src="{% static 'img/partner/img8.png' %}" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Partners Area -->
    {% endcomment %}


    {% comment %}
    <!-- Start Top Stories Area -->
    <section class="top-stories-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Top Stories</h2>
                <a href="#" target="_blank" class="link-btn">See All</a>
            </div>

            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="single-top-stories-box">
                        <img src="{% static 'img/top-stories/img1.jpg' %}" alt="image">
                        <a href="https://www.youtube.com/watch?v=74xydaU_GfY" class="link-btn popup-youtube"></a>
                        <div class="content extra-pd">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="duration">03.05</span>
                                <span class="icon"><i class="flaticon-video-camera"></i></span>
                            </div>
                            <h3><a href="index.html#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua</a></h3>
                            <ul class="meta">
                                <li>4.3M views</li>
                                <li>1 day ago</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="single-top-stories-box">
                                <img src="{% static 'img/top-stories/img2.jpg' %}" alt="image">
                                <a href="https://www.youtube.com/watch?v=74xydaU_GfY"
                                    class="link-btn popup-youtube"></a>
                                <div class="content">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="duration">03.05</span>
                                        <span class="icon"><i class="flaticon-video-camera"></i></span>
                                    </div>
                                    <h3><a href="index.html#">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod</a></h3>
                                    <ul class="meta">
                                        <li>4.3M views</li>
                                        <li>1 day ago</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-6">
                            <div class="single-top-stories-box">
                                <img src="{% static 'img/top-stories/img3.jpg' %}" alt="image">
                                <a href="https://www.youtube.com/watch?v=74xydaU_GfY"
                                    class="link-btn popup-youtube"></a>
                                <div class="content">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="duration">03.05</span>
                                        <span class="icon"><i class="flaticon-video-camera"></i></span>
                                    </div>
                                    <h3><a href="index.html#">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod</a></h3>
                                    <ul class="meta">
                                        <li>4.3M views</li>
                                        <li>1 day ago</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Stories Area -->
    {% end comment %}


    {% comment %}
    <!-- Start Featured Channels Area -->
    <section id="channels" class="featured-channels-area bg-f9f9f9 pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Featured Channels</h2>
                <a href="#" target="_blank" class="link-btn">See All</a>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-featured-channels-box">
                        <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                            class="image">
                            <img src="{% static 'img/channels/img1.jpg' %}" alt="image">
                        </a>
                        <div class="content">
                            <h3><a
                                    href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber">MoonFairy</a>
                            </h3>
                            <span>1.5M Subscriber</span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">Subscribe</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-featured-channels-box">
                        <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                            class="image">
                            <img src="{% static 'img/channels/img2.jpg' %}" alt="image">
                        </a>
                        <div class="content">
                            <h3><a
                                    href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber">Creative</a>
                            </h3>
                            <span>1M Subscriber</span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">Subscribe</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-featured-channels-box">
                        <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                            class="image">
                            <img src="{% static 'img/channels/img3.jpg' %}" alt="image">
                        </a>
                        <div class="content">
                            <h3><a
                                    href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber">Spartan</a>
                            </h3>
                            <span>500K Subscriber</span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">Subscribe</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-featured-channels-box">
                        <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                            class="image">
                            <img src="{% static 'img/channels/img4.jpg' %}" alt="image">
                        </a>
                        <div class="content">
                            <h3><a
                                    href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber">Reaper</a>
                            </h3>
                            <span>100.5K Subscriber</span>
                            <a href="https://www.youtube.com/channel/UCRyYEVdwCOvs53SsFoqI2iA/videos?view_as=subscriber"
                                class="link-btn">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Channels Area -->
    {% endcomment %}


    <!-- Start Blog Area -->
    <section id="blog" class="blog-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Snap Shots</h2>
                <a href="{% url 'allArticles' %}" class="link-btn">See All</a>
            </div>

            {% if latest_articles %}

            <div class="row">

                {% for article in latest_articles %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blog-post">
                        <div class="post-image">
                            <a href="{% url 'articleDetails' article.id %}"><img src="{{article.thumbnail.url}}"
                                    alt="image"></a>
                        </div>
                        <div class="post-content">
                            <a href="{% url 'articleDetails' article.id %}" class="category">{{article.category}}</a>
                            <h3><a href="{% url 'articleDetails' article.id %}">
                                    {{article.title}}
                                </a></h3>
                            <ul class="post-meta">
                                <!-- <li>By <a href="index.html#">Admin</a></li> -->
                                <li>By {{article.author}}</li>
                                <li>{{article.posted_on}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% else %}
                <h1>NO ARTICLES FOUND</h1>
            {% endif %}
        </div>
    </section>
    <!-- End Blog Area -->

    <!-- Start Join Area -->
    <section id="contact" class="join-area" style="background-image: url({{about.contact_image.url}});">
        <div class="container">
            <div class="join-content">
                <h2>Don’t let them know your next move. Own the court like it’s your home.</h2>
                <p>
                    {{about.contact_desc}}
                </p>
                <div class="btn-box">
                    <a href="index.html#" class="default-btn" data-bs-toggle="modal"
                        data-bs-target="#contactModal">Contact Me</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Join Area -->

    <!-- Start Footer Area -->
    <footer class="footer-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>©Highlight Portfolio is Proudly Owned by Rihanna Young</p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        {% if about.social_facebook %}<li><a href="{{ about.social_facebook }}" target="_blank"><i class="flaticon-facebook"></i></a>
                        </li>{% endif %}
                        {% if about.social_twitter %}<li><a href="{{ about.social_twitter }}" target="_blank"><i class="flaticon-twitter"></i></a>
                        </li>{% endif %}
                        {% if about.social_pinterest %}<li><a href="{{ about.social_pinterest }}" target="_blank"><i
                                    class="flaticon-pinterest"></i></a></li>{% endif %}
                        {% if about.social_instagram %}<li><a href="{{ about.social_instagram }}" target="_blank"><i
                                    class="flaticon-instagram"></i></a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <!-- Modal -->
    <div class="modal fade contactModal" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-body">
                    <form id="contact-form" method="post" action="https://getform.io/f/95b0577d-7f2b-4935-a432-afcefa937b79" target="_blank" accept-charset="UTF-8"  onsubmit="resetForm();">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <input type="text" name="name" id="name" class="form-control" required
                                        data-error="Please enter your name" placeholder="Enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <input type="email" name="email" id="email" class="form-control" required
                                        data-error="Please enter your email" placeholder="Enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group mb-3">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                                        required data-error="Write your message"
                                        placeholder="Enter your message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <script>
        const form = document.querySelector('#contact-form');
        const modal = document.querySelector('#contactModal');
      
        form.addEventListener('submit', (e) => {
          e.preventDefault();
          const formData = new FormData(form);
          const xhr = new XMLHttpRequest();
          xhr.open('POST', form.action);
          xhr.setRequestHeader('Accept', 'application/json');
          xhr.onreadystatechange = () => {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if (xhr.status === 200) {
              // clear form fields
              form.reset();
              // close modal form
              modal.classList.remove('show');
              modal.style.display = 'none';
              window.location.href = '/success-page/';
            } else {
              console.error(xhr);
            }
          };
          xhr.send(formData);
        });
      </script>
      
      

    <!-- Links of JS files -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
