{% extends 'main.html' %}
{% block content %}

<section class="featured-videos-area pt-100 pb-70">
    <div class="container">
        

        <div class="row">

            <h1>Thank you for your message!</h1>
            <h3>We appreciate your interest and will get back to you as soon as possible.</h3>
            <p>In the meantime, feel free to check out my <a href="/">Rihanna Young's Website</a> for more information about my services.</p>

            
        </div>
    </div>
</section>


{% endblock content %}